body{
  margin: 0 auto;
}
.olymp{
  background-image: url(img/background.jpg);
  width: 1920px;
  height: 1010px;
  background-size: auto;

  background-repeat: no-repeat;
}

.button1{
   float: left;
    margin-top: 2%;
    margin-left: 1%;
  text-decoration:none; text-align:center;
 padding:13px 23px;
 border:none;
 border-radius: 4px;
 font:20px Verdana, Geneva, sans-serif;
 font-weight:bold;
 color:#e5ffff;
 background-color:#6495ED;
  }
.button1:hover{
 padding:13px 23px;
 border:none;
 border-radius: 4px;
 font:20px Verdana, Geneva, sans-serif;
 font-weight:bold;
 color: #e5ffff;
 background-color: #4169E1;
 }
 .button2{
   float: right;
   margin-top: 45%;
   margin-right: 2%;
   text-decoration:none; text-align:center;
  padding:13px 23px;
  border:none;
  border-radius: 4px;
  font:20px Verdana, Geneva, sans-serif;
  font-weight:bold;
  color:#e5ffff;
  background-color: #B22222;

   }
 .button2:hover{
  padding:13px 23px;
  border:none;
  border-radius: 4px;
  font:20px Verdana, Geneva, sans-serif;
  font-weight:bold;
  color:#e5ffff;
  background-color:#8B0000;

  }
.input1{

}
